.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  justify-content: center;
  border: 2px solid black;
  width: auto;
  height: auto;
  min-width: 50vh;
  align-self: center;
  margin: 100px;
  background-image: url("../assets/blue-arc.jpg");
  background-size: cover;
  color: #334477;
}